/* Google Fonts CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

:root{
    --color-alpha: #4D4D4D;
    --color-beta: #393939;
    --color-gamma: #E5E5E5;
    --color-delta: #B0B0B0;

    --font-size-text: 0.5em;
    --font-size-subtitle: 1em;
    --font-size-title: 2em;
}

*{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    box-sizing: border-box;

    font-family: 'Merriweather', serif;
}

html{
    font-size: 6vw;
}

body{
    background-color: var(--color-alpha);
    height: 100vh;
    width: 100vw;
}

/* Barra de navegación */

header{
    height: 2em;
    background-color: var(--color-beta);
    display: flex;
    align-items: center;
    padding: 0 0.5em;
}

.menu_toggle{
    display: flex;
    position: absolute;
    right: 0.2em;
    color: var(--color-gamma);
    font-size: 1.5em;
    cursor: pointer;
}

.header_title{
    color: var(--color-gamma);
    display: flex;
    margin: 0 auto;
    font-size: 1.5em;
}

.header_logo{
    position: absolute;
    left: 0.2em;
}

.header_logo a{
    text-decoration: none;
    display: flex;
}

.header_logo a img{
    height: 2.5em;
    width: 2.5em;
}

.show{
    height: 14em !important;
    border: 0.1em solid var(--color-gamma) !important;
}

#nav_menu{
    background-color: var(--color-delta);
    position: absolute;
    top: 2em;
    right: 0;
    width: 50vw;
    height: 0;
    border: 0;
    border-radius: 0.3em;
    overflow: hidden;
    transition: 0.3s ease-out;
    display: flex;
    justify-content: center;
}

#nav_menu ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#nav_menu ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav_menu ul li a{
    color: var(--color-gamma);
    text-decoration: none;
    font-size: 0.8em;
    border-radius: 0.3em;
    background-color: var(--color-beta);
    width: 10em;
    height: 2em;
    display: flex;
    align-items: center;
}

/* Vista Ingreso */

.main_ingreso{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.ingreso_logo{
    width: 14em;
    height: 14em;
}

.ingreso{
    width: 100vw;
    height: 13em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-gamma);
}

.ingreso p{
    font-size: var(--font-size-subtitle);
}

/* Vista Menú principal */

.menu_logo{
    width: 6em;
    height: 6em;
    display: flex;
    margin: 0 auto;
}

.menu_principal{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 1em;
}

.menu_principal figure{
    display: flex;
    justify-content: center;
    margin: 0.4em;
}

.menu_principal figure a{
    background-color: var(--color-delta);
    border-radius: 0.5em;
    overflow: hidden;
    text-decoration: none;
}

.menu_principal figure a img{
    display: flex;
    margin: 0 auto;
    height: 6em;
    width: 6em;
}

.menu_principal figure a figcaption{
    background-color: var(--color-beta);
    color: var(--color-gamma);
    font-size: 0.6em;
    text-align: center;
}

/* Vista Miembros */

.miembros{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.miembros figure{
    display: flex;
    justify-content: center;
    margin: 0.4em;
}

.miembros figure a{
    background-color: var(--color-delta);
    border-radius: 0.5em;
    overflow: hidden;
    text-decoration: none;
}

.miembros figure a img{
    display: flex;
    margin: 0 auto;
    height: 4em;
    width: 4em;
}

.miembros figure a figcaption{
    background-color: var(--color-beta);
    color: var(--color-gamma);
    font-size: 0.6em;
    text-align: center;
}