:root{
    --font-size-text: 0.7em;
    --font-size-subtitle: 1.3em;
    --font-size-title: 2.3em;
}

html{
    font-size: 4vw;
}

/* Vista Ingreso */

.ingreso_logo{
    width: 16em;
    height: 16em;
}

.ingreso{
    height: 10em;
}

/* Vista Menú principal */

.menu_principal{
    display: flex;
    flex-direction: column;
}

.menu_principal figure{
    margin: 0;
}

.menu_principal figure a{
    width: 100vw;
    border-radius: unset;
}

.menu_principal figure a img{
    display: flex;
    margin: 0 auto;
}